<div class="jumbotron danger">
  <h1>Данных нет</h1>
  <p class="lead">По данным критериям данных не найдено.</p>
  Смотрите также: <a href="<%=statistics_reports_overall_path%>">суммарный отчет</a>,
  <a href="<%=statistics_reports_annual_path(@current_year)%>">годовой отчет</a>,
  <a href="<%=statistics_reports_location_select_path()%>">отчет по локации</a>,
  <a href="<%=statistics_reports_personal_select_path%>">по распространителям</a>
</div>