<div class="row">
  <% [:huge, :big, :medium, :small].each do |key| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div style="width:250px;height:200px;">
          <h2 style="line-height: 200px;text-align: center;">
            <%=@types[key]%>
            <span class="label label-success"><%=@data[0][:quantity][key]%></span>
          </h2>
        </div>
        <div class="caption">
              <% for a in 0..@data[0][:quantity][key].to_f/@data[0][:quantity][:overall].to_f*25 %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
              <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>