<!-- report saving alerts -->
<div id="save-report-success-alert" class="alert alert-success hidden" role="alert">
  <strong>Отчет сохранен!</strong>
</div>
<div id="save-report-error-alert" class="alert alert-danger hidden" role="alert">
  <strong>Отчет не сохранен!</strong> Ошибка при сохранении отчета.
</div>

<!-- report data panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Данные отчета</h3>
  </div>

  <div class="panel-body">
    <!-- location component-->
    <div class="form-group">
      <label for="location">Локация</label>
      <input id="location" class="form-control typeahead" type="text" placeholder="Локация" aria-describedby="location-help-block" value="<%=user_access_location_name(current_user)%>">
      <span id="location-help-block" class="help-block">
        Введите название города или ашрама за который Вы отправляете отчет. Пример: "Санкт-Петербург", "Москва. Ашрам Бхактиведанты".
      </span>
    </div>
    <div id="new-location-alert" class="alert alert-info hidden" role="alert">
      <strong>Новая локация!</strong> Спасибо, что проявлете интерес к составлению отчетов.
      Новая локация будет создана, Вы будете назначены её администратором.
      В дальнейшем это поле будет заполнено автоматически. Если Вы ответственнены на несколько локаций,
      то просто введите новое название в это поле.
    </div>
    <div id="access-denied-alert" class="alert alert-danger hidden" role="alert">
      <strong>Нет прав!</strong> У Вас нет прав на отправку отчетов по данной локации.
      Если это не так свяжитесь с администратором.
    </div>

    <!-- date component -->
    <div class="form-group">
      <label for="date">Дата отчета</label>
      <div class="input-group date">
        <input id="date" type="text" class="form-control" placeholder="Дата" aria-describedby="date-help-block">
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
      <span id="date-help-block" class="help-block">
        Выберите дату отчета из выпадающего меню.
      </span>
    </div>
    <div id="report-exist-alert" class="alert alert-warning hidden" role="alert">
      <strong>Отчет уже есть!</strong> На данный период отчет уже существует.
      При сохранении этого отчета старый будет обновлен. Проверьте дату дважды.
    </div>

    <!-- report drop box component -->
    <div class="form-group">
      <div class='well report-drop-box' contenteditable='true'>
        Вставьте данные из <i>Excel</i> сюда.
        <span class="glyphicon glyphicon-question-sign glyphicon-help"
          aria-hidden="true" data-toggle="popover" data-trigger="hover"
          title="Как вставить данные?" data-html="true"
          data-content="Скопируйте <kbd>ctrl+с</kbd> данные из Excel и вставьте <kbd>ctrl+v</kbd> их сюда. Таблица должна содержать следующие колонки: имя, махабиги, биги, средние, малые.">
        </span>
      </div>
    </div>
    <div id="incorrect-data-columns-error-alert" class="alert alert-danger hidden" role="alert">
      <strong>Некорректные данные!</strong> Вставляемая таблица должна содержать пять колонок: имя, махабиги, биги, средние, малые. Колонки с количеством книг и очков компировать не нужно - они будут подсчитаны автоматически.
    </div>
    <div id="incorrect-data-empty-alert" class="alert alert-danger hidden" role="alert">
      <strong>Некорректные данные!</strong> Таблица пуста или нетабличные данные.
    </div>
  </div> <!-- /panel-body -->

  <!-- report preview component -->
  <div id="report-preview">
    <table id="report-table" class="table"><tr><th data-override="name">Имя</th><th data-override="huge">Махабиги</th><th data-override="big">Биги</th><th data-override="medium">Средние</th><th data-override="small">Малые</th></tr></table>
  </div>

  <!-- report form footer-->
  <div class="panel-footer">
    <a id="add-report-line" class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить строку</a>
    <div style="float: right">
      <a id="save" class="btn btn-primary" data-loading-text="Сохраняю...">Сохранить</a>
    </div>
  </div>
</div>


<script>
  var states = new Bloodhound({
    // function(str) { return str.split(''); }
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      ttl: 1,
      cache: false,
      url: "/api/locations/index.json"
    }
  });

  $(function () {
    function showAlert(obj) {
      obj.stop(true).fadeIn({
        duration: 500,
        queue: false
      }).removeClass('hidden').css('display', 'none').slideDown(500);
      return obj;
    }
    function hideAlert(obj) {
      obj.stop(true).fadeOut({
        duration: 250,
        queue: false
      }).slideUp(250, function () { $(this).addClass('hidden'); } );
      return obj;
    }

    $('[data-toggle="popover"]').popover();

    $('#add-report-line').on("click", function() {
      $("#report-table").append('<tr><td>-</td><td></td><td></td><td></td><td></td></tr>');
      $('#report-table').editableTableWidget();
    });

    $('#save').on("click", function () {
      var table = $('#report-table').tableToJSON();
      hideAlert($("#save-report-success-alert"));
      hideAlert($("#save-report-error-alert"));
      $("#save").button('loading');
      $.post("/api/statistics/reports/new", {
        location: $("#location").val(),
        date: $("#date").val(),
        report: table }, function (data) {
          if (data.result == true) {
            showAlert($("#save-report-success-alert"));
          } else {
            showAlert($("#save-report-error-alert"));
          }
          $("#save").button("reset");
        });
      console.log(table);
    });

    $('#location').typeahead({
      hint: true,
      highlight: true,
      minLength: 1 },
    { name: 'states',
      source: states
    }).on('typeahead:change', function (obj, datum) {
      hideAlert($("#new-location-alert"));
      hideAlert($("#access-denied-alert"));

      $.get("/api/statistics/permissions/canSendReport.json", {location:datum}, function(data) {
        if (data.result == true) {
          if (data.newLocation == true) {
            showAlert($("#new-location-alert"));
          }
        } else {
          showAlert($("#access-denied-alert"));
        }
      });
    });

    $('.input-group.date').datepicker({
      format: "mm/yyyy",
      startView: 1,
      minViewMode: 1,
      language: "ru",
      autoclose: true
    }).on('changeDate', function () {
      hideAlert($("#report-exist-alert"));

      var value = $("#date").val();
      var location = $("#location").val();
      $.get("/api/statistics/permissions/canSendReport.json", {date:value, location:location, user:"admin"}, function(data) {
        if (data.reportExist == true) {
          showAlert($("#report-exist-alert"));
        }
      });
    });

    $(document).on('paste','[contenteditable]',function(e) {
      e.preventDefault();
      hideAlert($("#incorrect-data-columns-error-alert"));
      hideAlert($("#incorrect-data-empty-alert"));

      var text  = (e.originalEvent || e).clipboardData.getData('text/plain');
      //var rows  = text.split("\n");
      var table = $('<table id="report-table" class="table"><tr><th data-override="name">Имя</th><th data-override="huge">Махабиги</th><th data-override="big">Биги</th><th data-override="medium">Средние</th><th data-override="small">Малые</th></tr>');
      var data  = processData(text);

      if (data == -1) {
        showAlert($("#incorrect-data-columns-error-alert"));
      } else if (data == -2) {
        showAlert($("#incorrect-data-empty-alert"));
      } else {
        for(var datarow in data) {
          var row = $('<tr />');
          for (var cell in data[datarow]) {
            row.append('<td>' + data[datarow][cell] + '</td>');
          }
          table.append(row);
        }
        $('#report-preview').html(table);
        $('#report-table').editableTableWidget();

      }
    });

    function processData(rawData) {
      var result = []
      var rows   = rawData.trim().split("\n"); // trim to avoid new line

      if (rawData == "" || rows[0] == "") return -2;

      for(var cell in rows) {
        var cells = rows[cell].split("\t");
        result.push(cells);


        /*for (value in cells) {
          var isNumeric = $.isNumeric(cells[value]);
          var isEmpty   = cells[value] == "";
          if (!isEmpty && !isNumeric && value != 0) {
            return -3;
          }
        }*/

        if (cells.length != 5) {
          return -1;
        }
      }

      return result;
    }
  });
</script>