<!-- report data form -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Данные отчета</h3>
  </div>

  <div class="panel-body">
    <!-- locations component-->
    <div class="form-group">
      <input id="locations" class="form-control typeahead" type="text" placeholder="Локация">
    </div>

    <div id="location-alerts"></div>

    <!-- date component -->
    <div class="form-group">
      <div class="input-group date">
        <input id="date" type="text" class="form-control" placeholder="Дата">
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>

    <div id="date-alerts"></div>

    <!--
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Новый отчет!</strong> На данный период отчетов нет.
      Спасибо, что продолжаете отправлять отчеты.
    </div>
    -->

    <!-- alerts component -->
    <div id="alerts"></div>

    <!-- report drop box component -->
    <div class="form-group">
      <div class='well report-drop-box' id='div' contenteditable='true'>
        Вставьте данные из Excel сюда.
        <span class="glyphicon glyphicon-question-sign glyphicon-help" aria-hidden="true" data-toggle="popover" data-trigger="hover" title="Как вставить данные?" data-html="true" data-content="Скопируйте таблицу из Excel, содержащую следующие колонки: имя, махабиги, биги, средние, малые. Вставьте данные в это поле."></span>
      </div>
    </div>
  </div> <!-- /panel-body -->

  <!-- report preview component -->
  <div id="report">
    <table class="table"></table>
  </div>

  <!-- report form footer-->
  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Сохранить</a>
  </div>
</div>

<!-- alerts -->
<div id="incorrect-data-columns-error-alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Некорректные данные!</strong> Вставляемая таблица должна содержать пять колонок: имя, махабиги, биги, средние, малые. Колонки с количеством книг и очков компировать не нужно - они будут подсчитаны автоматически.
</div>

<div id="incorrect-data-empty-alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Некорректные данные!</strong> Таблица пуста или нетабличные данные.
</div>

<div id="new-location-alert" class="alert alert-info alert-dismissible" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Новая локация!</strong> Спасибо, что проявлете интерес к составлению отчетов.
  Новая локация будет создана, Вы будете назначены её администратором.
  В дальнейшем это поле будет заполнено автоматически. Если Вы ответственнены на несколько локаций,
  то просто введите новое название в это поле.
</div>

<div id="access-denied-alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Нет прав!</strong> У Вас нет прав на отправку отчетов по данной локации.
  Если это не так свяжитесь с администратором.
</div>

<div id="report-exist-alert" class="alert alert-warning" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Отчет уже есть!</strong> На данный период отчет уже существует.
  При сохранении этого отчета старый будет обновлен. Проверьте дату дважды.
</div>


<script>
  var states = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      ttl: 1,
      cache: false,
      url: "/api/locations/index.json"
    }
  });

  $(function () {
    $('[data-toggle="popover"]').popover()

    $('#locations').typeahead({
      hint: true,
      highlight: true,
      minLength: 1 },
    { name: 'states',
      source: states
    }).on('typeahead:change', function (obj, datum) {
      $.get("/api/statistics/permissions/canSendReport.json", {location:datum, user:"admin"}, function(data) {
        $("#location-alerts").html("");
        if (data.result == true) {
          if (data.newLocation == true) {
            $("#location-alerts").append($("#new-location-alert").clone().show());
          }
        } else {
          $("#location-alerts").append($("#access-denied-alert").clone().show());
        }
      });
    });

    $('.input-group.date').datepicker({
      format: "mm/yyyy",
      startView: 1,
      minViewMode: 1,
      language: "ru",
      autoclose: true
    }).on('changeDate', function () {
      var value = $("#date").val();
      var location = $("#locations").val();
      $.get("/api/statistics/permissions/canSendReport.json", {date:value, location:location, user:"admin"}, function(data) {
        $("#date-alerts").html("");
        if (data.reportExist == true) {
          $("#date-alerts").append($("#report-exist-alert").clone().show());
        }
      });
    });

    $(document).on('paste','[contenteditable]',function(e) {
      e.preventDefault();
      $("#alerts").html("");
      var text  = (e.originalEvent || e).clipboardData.getData('text/plain');
      //var rows  = text.split("\n");
      var table = $('<table class="table"><tr><th>Имя</th><th>Махабиги</th><th>Биги</th><th>Средние</th><th>Малые</th></tr>');
      var data  = processData(text);

      if (data == -1) {
        $("#alerts").append($("#incorrect-data-columns-error-alert").clone().show());
      } else if (data == -2) {
        $("#alerts").append($("#incorrect-data-empty-alert").clone().show());
      } else {
        for(var datarow in data) {
          var row = $('<tr />');
          for (var cell in data[datarow]) {
            row.append('<td>' + data[datarow][cell] + '</td>');
          }
          table.append(row);
        }
        $('#report').html(table);

      }
    });

    function processData(rawData) {
      var result = []
      var rows   = rawData.split("\n");

      if (rawData == "" || rows[0] == "") return -2;

      for(var cell in rows) {
        var cells = rows[cell].split("\t");
        result.push(cells);


        /*for (value in cells) {
          var isNumeric = $.isNumeric(cells[value]);
          var isEmpty   = cells[value] == "";
          if (!isEmpty && !isNumeric && value != 0) {
            return -3;
          }
        }*/

        if (cells.length != 5) {
          return -1;
        }
      }

      return result;
    }
  });
</script>